* {
    box-sizing: border-box;
}

:root, body {
    padding: 0;
    margin: 0;
}

#container {
    display: flex;
}

#hero-container {
    height: 100vh;
}

#hero-img {
    width: 400px;
    height: 100%;
}